@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist";
  background: #0e0e0e;
}
body a {
  text-decoration: none;
  color: black;
}

#page {
  width: 100%;
  height: 100vh;
  background: #0e0e0e;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#page a {
  text-decoration: none;
}

header {
  width: 90%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
header .logo {
  width: 130px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
header nav {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header nav .menuNav {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
}
header nav .menuNav ul {
  width: 30%;
  min-width: 530px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}
header nav .menuNav ul li {
  color: white;
  list-style: none;
}
header nav .menuNav ul li a {
  padding: 14px 35px;
  border: 2px solid white;
  border-radius: 40px;
  font-weight: 500;
  color: white;
  font-size: 0.8rem;
}
header nav .menuNav ul li .actif {
  background: white;
  color: black;
}
header nav .recherche {
  width: 20%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 200px;
}
header nav .recherche form {
  width: 100%;
  height: 47px;
  margin: auto;
  display: flex;
  align-items: center;
}
header nav .recherche form input[type=text] {
  width: 85%;
  height: 47px;
  border: none;
  background: none;
  color: white;
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form input:focus {
  outline: none;
}
header nav .recherche form input::-moz-placeholder {
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form input::placeholder {
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form button {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  background: white;
  border-radius: 200px;
  overflow: hidden;
  cursor: pointer;
}
header nav .recherche form button img {
  width: 90%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .profilOUt {
  width: 30%;
  height: 47px;
  display: flex;
  align-items: center;
}
header nav .profilOUt .profil {
  width: 40%;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .profilOUt .profil .imageProfile {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  overflow: hidden;
}
header nav .profilOUt .profil .imageProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .profilOUt .profil .infoProfile {
  width: auto;
  height: 47px;
  color: #ffffff;
}
header nav .profilOUt .profil .infoProfile h3 {
  font-size: 1rem;
  margin: 3px 0px;
}
header nav .profilOUt .profil .infoProfile p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin: 0;
}
header nav .profilOUt .logOut {
  width: 30%;
  height: 47px;
  display: flex;
  align-items: center;
  background: #ffc887;
  justify-content: space-evenly;
  border-radius: 15px;
}
header nav .profilOUt .logOut .text {
  width: 80%;
  height: 47px;
  display: flex;
  align-items: center;
}
header nav .profilOUt .logOut a {
  font-weight: 600;
  color: #0e0e0e;
  font-size: 1rem;
}
header nav .profilOUt .logOut .img {
  width: 28px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header nav .profilOUt .logOut .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  width: 80%;
  height: auto;
  margin: auto;
}
main .accueil {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .accueil .image3D {
  width: 50%;
  height: auto;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .accueil .image3D .imgSecour {
  width: 80%;
  height: 620px;
}
main .accueil .image3D .imgSecour img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .accueil .Contenu {
  width: 50%;
  height: auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .accueil .Contenu .titre {
  width: 50%;
  height: auto;
  margin: auto;
}
main .accueil .Contenu .titre h1 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
}
main .accueil .Contenu .titre h1 span {
  font-weight: 100;
}
main .accueil .Contenu .navigation {
  width: 50%;
  min-width: 300px;
  min-height: 300px;
  height: auto;
  margin: auto;
  border-radius: 50px;
  background: #F36E50;
  padding-bottom: 30px;
}
main .accueil .Contenu .navigation .miniTitre {
  width: 80%;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
}
main .accueil .Contenu .navigation .miniTitre h3 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
main .accueil .Contenu .navigation .allNavigation {
  width: 80%;
  height: auto;
  min-height: 230px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
main .accueil .Contenu .navigation .allNavigation .navig {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  border-radius: 200px;
  background: linear-gradient(124deg, rgba(255, 255, 255, 0.4588235294), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: brightness(0.9) blur(12px);
          backdrop-filter: brightness(0.9) blur(12px);
  margin: auto;
  box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
main .accueil .Contenu .navigation .allNavigation .navig .texte {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .accueil .Contenu .navigation .allNavigation .navig .texte h5 {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
main .accueil .Contenu .navigation .allNavigation .navig .rond {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 200px;
}
main .accueil .Contenu .navigation .allNavigation .navig:hover {
  position: relative;
  width: 140%;
  transform: rotate(-10deg);
}
main .historique {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .historique .titre {
  width: 50%;
  min-height: 700px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
main .historique .titre h1 {
  width: 50%;
  font-size: 7rem;
  font-weight: 600;
}
main .historique .titre h1 span {
  color: #c9cd16;
}
main .historique .AllListe {
  width: 60%;
  min-height: 700px;
  height: auto;
  display: flex;
  color: white;
  overflow-y: scroll;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
  align-content: center;
}
main .historique .AllListe .liste {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
}
main .historique .AllListe .liste .img {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}
main .historique .AllListe .liste .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .historique .AllListe .contenu {
  border-radius: 15px;
  width: 100%;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D9E5E5;
}
main .historique .AllListe .contenu .terrain {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0e0e;
}
main .historique .AllListe .contenu .terrain h3 {
  font-size: 1.2rem;
  font-weight: 300;
}
main .historique .AllListe .contenu .terrain h3 span {
  font-weight: 600;
}
main .historique .AllListe .contenu .parcelle {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0e0e;
}
main .historique .AllListe .contenu .parcelle .miniTitre {
  width: 80%;
  height: auto;
}
main .historique .AllListe .contenu .parcelle .miniTitre h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
main .historique .AllListe .contenu .parcelle .miniTitre h3 span {
  font-weight: 600;
  font-size: 5rem;
}
main .historique .AllListe::-webkit-scrollbar-track {
  width: 10px;
}
main .historique .AllListe::-webkit-scrollbar-thumb {
  width: 10px;
  background: #c9cd16;
}
main .historique .AllListe::-webkit-scrollbar {
  width: 10px;
}
main .resultatRecherchee {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main .resultatRecherchee .titre {
  width: 50%;
  min-height: 700px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
main .resultatRecherchee .titre h1 {
  width: 50%;
  font-size: 7rem;
  font-weight: 600;
}
main .resultatRecherchee .titre h1 span {
  color: #ffc887;
}
main .resultatRecherchee .AllListe {
  width: 60%;
  min-height: 700px;
  height: auto;
  display: flex;
  color: white;
  overflow-y: scroll;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
  align-content: center;
}
main .resultatRecherchee .AllListe .liste {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
}
main .resultatRecherchee .AllListe .liste .img {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}
main .resultatRecherchee .AllListe .liste .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .resultatRecherchee .AllListe .contenu {
  border-radius: 15px;
  width: 100%;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D9E5E5;
}
main .resultatRecherchee .AllListe .contenu .terrain {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0e0e;
}
main .resultatRecherchee .AllListe .contenu .terrain h3 {
  font-size: 1.2rem;
  font-weight: 300;
}
main .resultatRecherchee .AllListe .contenu .terrain h3 span {
  font-weight: 600;
}
main .resultatRecherchee .AllListe .contenu .parcelle {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0e0e;
}
main .resultatRecherchee .AllListe .contenu .parcelle .miniTitre {
  width: 80%;
  height: auto;
}
main .resultatRecherchee .AllListe .contenu .parcelle .miniTitre h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
main .resultatRecherchee .AllListe .contenu .parcelle .miniTitre h3 span {
  font-weight: 600;
  font-size: 5rem;
}
main .resultatRecherchee .AllListe::-webkit-scrollbar-track {
  width: 10px;
}
main .resultatRecherchee .AllListe::-webkit-scrollbar-thumb {
  width: 10px;
  background: #c9cd16;
}
main .resultatRecherchee .AllListe::-webkit-scrollbar {
  width: 10px;
}

.login {
  width: 100%;
  height: 100vh;
  background-image: url("../img/FondLogin.png");
  background-size: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  overflow: hidden;
}
.login .Vide {
  width: 50%;
  height: 100vh;
}
.login .formulaire_login {
  width: 40%;
  min-height: 800px;
  height: 80vh;
}
.login .formulaire_login .cloudAnimation {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .formulaire_login .cloudAnimation .imageCloud1 {
  width: 15%;
  height: 300px;
}
.login .formulaire_login .cloudAnimation .imageCloud1 img {
  transition: 0.4s ease-in-out;
  position: absolute;
  z-index: 1;
  transform: translateX(-410px) translateY(-90px);
}
.login .formulaire_login .cloudAnimation .texte {
  width: 40%;
  height: 300px;
}
.login .formulaire_login .cloudAnimation .texte h1 {
  transition: 0.4s ease-in-out;
  font-size: 10rem;
  font-weight: 400;
  position: absolute;
}
.login .formulaire_login .cloudAnimation .imageCloud2 {
  width: 20%;
  height: 300px;
}
.login .formulaire_login .cloudAnimation .imageCloud2 img {
  transition: 0.4s ease-in-out;
  position: absolute;
  transform: translateX(-103px);
}
.login .formulaire_login:hover .imageCloud1 img {
  transform: translateX(-500px) translateY(-90px);
}
.login .formulaire_login:hover .imageCloud2 img {
  transform: translateX(50px);
}
.login .formulaire_login form {
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.login .formulaire_login form input {
  width: 55%;
  height: 70px;
  border: none;
  background: none;
  color: #0e0e0e;
  font-family: "Urbanist";
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #0e0e0e;
  border-radius: 200px;
  font-weight: 500;
}
.login .formulaire_login form .forgotPass {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.login .formulaire_login form .forgotPass p {
  font-size: 1rem;
  font-weight: 600;
}
.login .formulaire_login form .forgotPass p a {
  text-decoration: underline;
}
.login .formulaire_login form button {
  width: 55%;
  height: 70px;
  border-radius: 200px;
  border: none;
  background: #0e0e0e;
  color: #c9cd16;
  font-weight: 400;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login .formulaire_login form .dontHave {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .formulaire_login form .dontHave p {
  font-size: 1rem;
  font-weight: 600;
}
.login .formulaire_login form .dontHave p a {
  text-decoration: underline;
}
.login .formulaire_login form input:focus {
  outline: none;
  background: linear-gradient(124deg, rgba(255, 255, 255, 0.4588235294), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: brightness(0.9) blur(12px);
          backdrop-filter: brightness(0.9) blur(12px);
}
.login .formulaire_login form input::-moz-placeholder {
  color: #0e0e0e;
  font-weight: 600;
  font-family: "Urbanist";
  text-align: center;
}
.login .formulaire_login form input::placeholder {
  color: #0e0e0e;
  font-weight: 600;
  font-family: "Urbanist";
  text-align: center;
}/*# sourceMappingURL=accueil-copy.css.map */